html
  head
    title='Cool Stuff'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Fellas!!!
        p One paragraph
        p 
          a.btn.btn-primary(href="http://google.com") Google
        p