html
  head
    title='Cool Stuff'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 DevOps Workflow Magic!!!
        p One paragraph
        p Second paragraph
        p Third paragraph
        p 
          a.btn.btn-primary(href="http://google.com") Google
        p

        ul#books
          li
            a(href="#book-a") Book A
          li
            a(href="#book-b") Book B